.button {
  background-color: $primary;
  border-radius: $border-radius;

  border: none;
  outline: none;

  padding: 5px 20px;
}

.button--radius {
  border-radius: $border-radius $border-radius 0 0;
}

.button--desc {
  width: 25%;
  text-align: center;
}

.button--hourly {
  width: 25%;
  font-size: 22px;
}
